<ion-view view-title="Health - Washing">
  <ion-content>
    <div class="cope-nav">
      <a href="#/" class="cope-tile tile-thumb tile-left">
        <img src="img/home.png">
      </a>

      <a href="javascript:history.back()" class="cope-tile tile-thumb tile-left">
        <img src="img/back.png">
      </a>

      <div class="cope-tile tile-thumb">
        <img src="img/health/washing.png">
      </div>
    </div>

    <a href="#/personal/hoisting/how-to" class="cope-tile tile-4">
      <img src="img/personal/hoisting.jpg"/>
    </a>

    <a href="#/health/hoisting/activity" class="cope-tile tile-2">
      <img src="img/activity.png"/>
    </a>
  </ion-content>
</ion-view>
