<ion-view view-title="Personal">
  <ion-content>
    <div class="cope-nav">
      <a href="#/" class="cope-tile tile-thumb tile-left">
        <img src="img/home.png">
      </a>

      <div class="cope-tile tile-thumb">
        <img src="img/personal.png">
      </div>
    </div>

    <a href="#/personal/hoisting" class="cope-tile tile-4">
        <img src="img/personal/hoisting.jpg"/>
    </a>


    <a href="#/health/create-page" class="cope-tile tile-4">
      <img src="img/personal/createpersonal.png"/>
    </a>
  </ion-content>
</ion-view>
